#about {
  img {
    border-radius: 4%;
    box-shadow: 0 px 0px 10px 1px #787878;

    @media screen and (max-width : 768px) {
      width: 65%;
    }
  }

  .subtitle {
    color: #787878;
    margin: 0px;
  }

  a {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
    opacity: 0.8;
  }
}