#footer {
  padding: 1rem;
  margin-bottom: 0;
  padding-bottom: 15px;
  background-color: #eee;
  text-align: center;

  img {
    width: 22px;
    margin: 10px;
  }

  a {
    display: inline;
    color: gray;
  }
}