#header {
  overflow: hidden;
  padding: 0.5em 15%;

  @media screen and (max-width: 768px) {
    padding: 0.5em 0em;
  }

  img {
    width: 60px;
    margin-right: 5px;
  }

  .item {
    margin-top: 0.25em;
  }

  .brand {
    color: #121212;
    margin-left: 1em;
    margin-right: 1em;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  h4{
    color: #343434;
  }
}